.board {
  -fx-pref-width: 300;
}
#fxBoard1 {
  -fx-background-color: red;
}
#fxBoard2 {
  -fx-background-color: green;
}
#fxBoard3 {
  -fx-background-color: blue;
}
#fxBoard4 {
  -fx-background-color: purple;
}
.card {
  -fx-pref-width: 150;
  -fx-pref-height: 200;
}
.tool-card {
  -fx-graphic-text-gap: 0;
  /*-fx-content-display: graphic-only;*/
}
#main {
  -fx-background-image: url(images/pattern/dark.png)
}