.board {
  -fx-pref-width: 25em;
  -fx-fit-height: 46.875em;
}
#fxBoard1 {
}
#fxBoard2 {
}
#fxBoard3 {
}
#fxBoard4 {
}
.card {
  -fx-pref-width: 9.375em;
  -fx-pref-height: 12.5em;
}
.ToolCard {
  /* -fx-image: url(images/toolcards/ToolCardBack.png); */
}

#PrivObjCard {
  /* -fx-image: url(images/objectivecards/private/PrivateObjectiveCardBack.png); */
}

.PubObjCard {
  /* -fx-image: url(images/objectivecards/public/PublicObjetiveCardBack.png); */
}

#fxRoundTrack {
  -fx-cursor: hand;
}

#main {
  -fx-background-image: url(images/pattern/retina_wood_@2X.png);
}
.message {
  -fx-font-size: 400%;
  -fx-text-fill: white;
}
.message .text {
  -fx-stroke: rgba(0, 0, 0, 0.50);
  -fx-stroke-width: 1;
}
.roundTrackLabel {
  -fx-font-size: 300%;
}