.board {
  -fx-pref-width: 300;
  -fx-fit-height: 750;
}
#fxBoard1 {
}
#fxBoard2 {
}
#fxBoard3 {
}
#fxBoard4 {
}
.card {
  -fx-pref-width: 150;
  -fx-pref-height: 200;
}
.tool-card {
  -fx-graphic-text-gap: 0;
  /*-fx-content-display: graphic-only;*/
}
#main {
  -fx-background-image: url(images/pattern/dark.png)
}
.message {
  -fx-font-size: 400%;
  -fx-text-fill: white;
}
.message .text {
  -fx-stroke: rgba(0, 0, 0, 0.50);
  -fx-stroke-width: 1;
}